#tweetDateDiv {
    color: #AAB8C2;
}

#handle {
    color: #657786;
}

#tweetTextDiv {
    color: #E1E8ED;
}

#tweet {
    background-color: #1DA1F2;
    font-family: "Gotham Narrow Ssm", sans-serif;
    padding: 3%;
}